<% content_for :javascript_includes do %>
  <script>
    window.App = window.App || {};
    App.eventContent = <%= @event.to_json.html_safe %>;
    App.user = new MeetupApi.User(<%= @user.to_json.html_safe %>);
    App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
  </script>

  <%= javascript_include_tag "scheduler" %>
  <%= javascript_include_tag "scheduler_style" %>
<% end %>

	<header>
		<div id="header-logo">
			<%= image_tag "logo.png", alt: "MeetUp" %>
		</div>
		<div id="header-icon">
			<img id="icon-create" src="img/icon-create.png" alt="MeetUp">
		</div>
	</header>

<div id="title" class="row-fluid">
  <h1 class="text-center"></h1>
</div>

<div id="scheduler">
</div>

<div id="heat-map">
</div>

