<% content_for :javascript_includes do %>
  <script>
    window.App = window.App || {};
    App.eventContent = <%= @event.to_json.html_safe %>;
    App.user = new MeetupApi.User(<%= @user.to_json.html_safe %>);
    App.eventDates = <%= @event_dates.to_json(include: :possible_dates).html_safe %>;
  </script>

  <%= javascript_include_tag "scheduler" %>
<% end %>

<header id="title-bar">
  <div id="header-logo">
    <a href=""><%= image_tag "logo.png", alt: "MeetUp" %></a>
  </div>
  <div id="header-icon">
    <a href=""><%= image_tag "icon-create.png", alt: "MeetUp" %></a>
  </div>
</header>

<div class="wrapper">
  <div class="event-info">
    <h1 class="event-title"></h1>
    <h2 class="event-time"></h2>
    <p class="event-description"></p>
  </div>
  <div class="notches">
  </div>
  <div class="tab">
    <%= image_tag "tab_on_input.png", :class=>"tab_on_input", alt: "自分の予定" %>
    <%= image_tag "tab_on_heatmap.png", :class=>"tab_on_heatmap", alt: "みんなの予定" %>
  </div>
  <div class="input-area">
    <%= image_tag "overnavi_left.png", :class=>"overnavi_left", alt: "左へ" %>
    <%= image_tag "overnavi_right.png", :class=>"overnavi_right", alt: "右へ" %>
    <div id="scheduler">
    </div>
    <div id="heat-map">
    </div>
</div>



