<% content_for :javascript_includes do %>
  <script>
    window.App = window.App || {};
    App.eventContent = <%= @event.to_json.html_safe %>;
    App.user = new MeetupApi.User(<%= @user.to_json.html_safe %>);
    App.eventDates = <%= @dates.to_json(include: :possible_dates).html_safe %>;
  </script>

  <%= javascript_include_tag "scheduler" %>
<% end %>

<header id="title-bar">
  <div id="header-logo">
    <%= image_tag "logo.png", alt: "MeetUp" %>
  </div>
  <div id="header-icon">
    <%= image_tag "icon-create.png", alt: "MeetUp" %>
  </div>
</header>

<div class="wrapper">
  <div class="event-info">
  </div>
  <div class="notches">
  </div>
  <div class="input-area">
    <div id="title" class="row-fluid">
      <h1 class="text-center"></h1>
    </div>

    <div id="scheduler">
    </div>

    <div id="heat-map">
    </div>
  </div>
</div>



